BODY {
	margin: 0;
	border: 0;
	padding: 0;
	background-color: #d3d3d3;
}

.homepage {
	position: absolute;
	width: 100%;
	height: 200%;
}

.welcome {
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 50%;
	background-image: url(homepage.jpg);
	background-size: cover;
}

.welcomebox {
	overflow: hidden;
	height: 48%;
	width: 13%;
	min-width: 225px;
	right: 1%;
	top: 1%;
	position: absolute;
	display: block;
	border-style: solid;
	border-radius: 4%;
	background-color: #777777;
}

.welcome p {
	font-size: 22px;
	position: absolute;
	display: block;
	margin-top: 2%;
	top: 0%;
	left: 0%;
	margin: 0;
	padding: 0;
	width: 98%;
}

#welcome1 {
	position: relative;
	text-align: center;
}

#welcome2 {
	text-indent: 5%;
	left: 2%;
	position: relative;
	display: block;
	font-size: 18px;
}

.quicklinkhead {
	display: block;
	position: relative;
	width: 100%;
	height: 15%;
	margin-left: 0%;
}

.quicklinks {
	position: absolute;
	display: block;
	overflow: hidden;
	bottom: 0%;
	height: 70%;
	width: 100%;
	z-index: 2;
}


.quicklinkbox {
	overflow: auto;
	height: 85%;
	width: 100%;
}

.quicklinks a {
	position: relative;
	display: block;
	border-style: solid;
	border-color: black;
	color: black;
	border-radius: 5px;
	width: 80%;
	height: 20%;
	margin-left: 10%;
	margin-bottom: 1.5%;
	text-align: center;
	text-decoration: none;
}

.homepagedivider {
	position: relative;
	width: 100%;
	height: 10%;
	border-style: solid none solid none;
	border-width: 6px;
}

.dividerdesign {
	position: relative;
	display: block;
	border-style: solid;
	height: 50%;
	width: 80%;
}

.divdesign {
	position: relative;
	border-style: solid;
	height: 100%;
	width: 60%;
}

.sitelinks {
	display: inline-block;
	position: absolute;
	text-align: center;
	width: 98%;
	height: 48%;
	background-color: #d3d3d3;
	margin-left: 1%;
	margin-top: 2%;
}

.classes, .codelanguages, .buttergame, .box1, .box2, .box3, .box4, .box5, .box6, .box7 {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 16%;
	height: 46%;
	min-width: 225px;
	margin-bottom: 1%;
	margin-right: 0.5%;
	margin-left: 0.5%;
	padding: 0;
	border-style: solid;
	border-radius: 10px;
	font-size: 12px;
	background-color: #E1E5F1;
}

.header { 
	position: absolute;
	border-style: none none solid none;
	height: 12%;
	width: 100%;
	z-index: 1;
}

.header p {
	position: relative;
	margin-top: 7%;
}

.linkbox {
	position: absolute;
	display: block;
	overflow: auto;
	top: 12.75%;
	height: 88%;
	width: 100%;
	z-index: 2;
}

.linkbox p {
	display: inline;
	position: relative;
}

.classes a, .codelanguages a, .buttergame a {
	position: relative;
	display: block;
	margin-left: 15%;
	margin-top: 1.5%;
	top: 3%;
	text-decoration: none;
	border-color: black;
	color: black;
	font-size: 18px;
	display: block;
	width: 70%;
	height: 7.5%;
	border-style: solid;
	border-radius: 10px;
	padding-top: 2%;
}

.about a {
	position: fixed;
	overflow: hidden;
	width: 40px;
	height: 40px;
	background-image: url(buttericon.png);
	background-size: contain;
	border-radius: 50%;
	text-align: center;
	bottom: 2.25%;
	right: 1.5%;
	
	
	/*display: inline-block;
	margin-top: 20%;*/
}
	